<%- include('partials/header') %>
<div class="container my-5">
  <div class="container-fluid">
    <a href="/authors"><button type="button" class="btn btn-info">Authors</button></a>
    <a href="/books"><button type="button" class="btn btn-info">Books</button></a>
  </div>
</div>
<%- include('partials/footer') %>
